@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

.auth-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .auth-popup-content {
    background: white;
    padding: 30px; 
    width: 80%;
    max-width: 600px; 
    height: auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    overflow-y: auto; 
  }

  .auth-popup-content input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px; 
    background-color: #f9f9f9;
    transition: border-color 0.3s;
  }
  
  .auth-popup-content input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Bouton de soumission */
  .auth-popup-content button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Hover sur le bouton */
  .auth-popup-content button:hover {
    background-color: #0056b3;
  }
  
  /* Lien */
  .auth-popup-content .link {
    color: #007bff;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hover sur le lien */
  .auth-popup-content .link:hover {
    text-decoration: underline;
  }
  
  /* Bouton de fermeture discret */
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px; 
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s, color 0.3s;
  }
  
  .close-btn:hover {
    opacity: 1;
    color: #ff0000;
  }
  
  /* Responsivité */
  @media (max-width: 768px) {
    .auth-popup-content {
      width: 90%;
      padding: 20px;
    }
  
    .auth-popup-content input, .auth-popup-content button {
      font-size: 14px; 
      padding: 10px;
    }
  
    .close-btn {
      top: 10px;
      right: 10px;
      font-size: 18px; 
    }
  }
  